@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Butterfly+Kids&family=Dancing+Script&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #444;
    transition: 0.3s;
}

a:hover{
    color: #37a1f7;
}

.span{
    color: #37a1f7;
    font-size: 30px;
    font-family: 'Dancing Script', cursive;

}

#navbar{
    padding: 1.5rem 2.5rem;
    border-bottom: 2px solid #ddd;
}

#navbar-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

#nav-links{
    display: flex;
    gap: 1rem;
}

.container{
    display: flex;
    gap: 3rem;
    padding: 2rem 2.5rem;
    max-width: 1500px;
    margin: 0 auto;
}

#posts-container{
    flex: 1 0 1;

}

.post{
    margin-bottom: 3rem;
}

.post-img{
    width: 100%;
    margin-bottom: 1rem;
}

.title, .description, .author{
    margin-bottom: .5rem;
}

.title{
    font-size: 2rem;
}

.author{
    color: #333;
    font-weight: bold;
}

#sidebar{
flex: 1 0 1;
}

#search-bar, #categories, #tags{
    padding: 2.0rem;
    border: 1px solid #ddd;
    margin-bottom: 1rem;
}

#search-bar h4, #categories h4, #tags h4{
    margin-bottom: 1.5rem;
    font-size: 1.6rem;
}

#search-bar form{
    display: flex;
}

#search-bar input{
    padding: .5rem 1rem;
    border: 1px solid #ddd;
}

#search-bar input[type="submit"] {
    cursor: pointer;
    background-color: #37a1f7;
    color: #fff;
    border: none;
}

#categories .list{
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;    
}

#categories li{
    background-color: #bbbadb;
    padding: .5rem .7rem;
    border-radius: .3rem;
}

#tags-container{
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}

#tags-container a{
    background-color: #ddd;
    padding: .5rem .7rem;
    border-radius: .3rem;
}

#footer{
    border-top: 2px solid #ddd;
    padding: 2rem;
    text-align: center;
}

#footer h2, #footer p{
    margin-bottom: .5rem;
}


@media(max-width: 450px){
    .container{
        flex-wrap: wrap;
    }
}

